/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/responsive.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */

body {
    background-color: #003300;
    color: white;
    font-size: 14px;
    line-height: 1.3;
    font-familiy: Helvetica, Verdana, Arial, sans-serif;
}

.form-text {
    background: black;
    color: white;
}

.text-full {
    background: black;
    color: white;
}

.breadcrumb {
    display: none;
}

.filter-wrapper {
    background: black;
    color: white;
}

.header__name-and-slogan {
    display: none;
}

#queen-submit {
    border-radius: 5px;
}

a, a:link {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color: black;;
}

p {
    margin-top: 7px;
    margin-bottom: 10px;
}

.battleship {
    border-radius: 15px;
}

.even{
    color: white;
    background: none;
}

.submitted {
    color: white;
}

.block-title {
    color: white;
}

label {
    color: white;
}

.field-label {
    color: white;
}

.inline {
    color: white;
}

.active {
    display: none;
}

img {
    border-radius: 10px;
}

.header__logo {
    margin-left: auto;
    margin-right: auto;
}

.header__logo-image {
    width:800px;
    height:350px;
    margin-left: auto;
    margin-right: auto;
}

.region-sidebar-first {
    background: #000000;
    -webkit-box-shadow: 7px 1px 19px 5px rgba(0,0,0,0.45);
    -moz-box-shadow: 7px 1px 19px 5px rgba(0,0,0,0.45);
    box-shadow: 7px 1px 19px 5px rgba(0,0,0,0.45);
    margin-left: auto;
    margin-right: auto;
}

.field-items {
    background: #000000;
    width: 550px;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-shadow: 7px 1px 19px 5px rgba(0,0,0,0.45);
    -moz-box-shadow: 7px 1px 19px 5px rgba(0,0,0,0.45);
    box-shadow: 7px 1px 19px 5px rgba(0,0,0,0.45);
}

#main-menu .menu-221  {
    display:none;
}

.region-sidebar-second {
    background: black;
    color: white;
}

.title {
    color: black;
}

.description {
    color: white;
}

h1 {
    color: black;
}

h3 {
    color: black;
}
